.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 21px 17px;
  margin-top: 50px;
  max-width: 880px;
  width: 100%;
}

.gallery__card {
  background: #ffffff;
  border-radius: 10px;
  height: 361px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.gallery__card-image {
  max-width: 282px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.gallery__card-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 25px;
  margin-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery__card-text {
  display: flex;
  justify-content: space-between;
}

.gallery__card-like {
  display: flex;
  margin-right: 21px;
  background: url(../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.gallery__card-like:active {
  background: url(../images/like-black.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.gallery__card-like:hover {
  opacity: 0.5;
}

@media screen and (max-width: 880px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 21px 17px;
    margin-top: 50px;
    max-width: 282px;
    width: 100%;
  }
}
