.popup__image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup__image-container {
  max-width: fit-content;
  margin: auto;
  margin-top: 30px;
  max-width: 75vw;
  max-height: 75vh;
}

.popup__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup__image_opened {
  display: flex;
}

.popup__image-button-close {
  height: 40px;
  transform: rotate(-45deg);
  background-image: url("../images/Close\ Icon.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  align-self: flex-end;
}

.popup__image-button-close:hover {
  opacity: 0.5;
  cursor: pointer;
}

.popup__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin-bottom: 50px;
}
